<script>
    import { onMount } from 'svelte'
    export let item
    export let myPlayer
    console.log(item)
    // export let playerWidth;
  
    let additionalPlayer
    let isPlayerHidden = true
  
    onMount(() => {
      console.log('mount')
  
      myPlayer.on('ended', () => {
        console.log('ended')
        myPlayer.controls(false)
        isPlayerHidden = false
        additionalPlayer.play()
      })
  
      additionalPlayer = window.amp(
        'additional_player',
        {
          nativeControlsForTouch: false,
          autoplay: false,
          loop: true,
          // muted: true,
          controls: false,
          fluid: true,
          height: myPlayer.options.height,
          width: myPlayer.options.width,
          logo: { enabled: false },
          src: [
            {
              src: item.loopUrl,
              type: 'application/vnd.ms-sstr+xml',
            },
          ],
        },
        function () {
          // myPlayer.src([
          //     {
          //         src: item.nextUrl,
          //         type: 'application/vnd.ms-sstr+xml',
          //     },
          // ])
        },
      )
      return () => {
        additionalPlayer.dispose()
      }
    })
    const close = () => {
      if (!isPlayerHidden) {
        additionalPlayer.dispose()
        myPlayer.autoplay(true);
        myPlayer.src([
              {
                  src: item.nextUrl,
                  type: 'application/vnd.ms-sstr+xml',
              },
          ])
        myPlayer.controls(true)
        
      }
    }
  </script>
  
  <div class="videoContainer" class:hidden={isPlayerHidden} on:click={close}>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video id="additional_player" class="azuremediaplayer amp-default-skin" playsinline />
  </div>
  
  <style>
    .videoContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f0f2f5;
      z-index: 1000;
      width: 100%;
      max-width: 100%;
    }
    .videoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .hidden {
      display: none;
    }
  </style>
  