<script context="module">
  import { activeSeriesIndex } from '../../../store'
  let stage = 0
  let isPlayerHidden = true
  activeSeriesIndex.subscribe(() => {
    isPlayerHidden = true
    stage = 'init'
  })

</script>

<script>
  import { onMount } from 'svelte'
  import { currentTime, hidePoster } from '../../../store'
  import NextSeries from '../NextSeries/index.svelte'
  import Notification from '../Notification/index.svelte'
  import sendMetrik from '../../../../metrika'

  export let item
  export let myPlayer
  let mounted = false
  
  $: if (mounted && stage === 'init' && $currentTime >= 103.9) {
    $hidePoster = true
    stage = 'first'
    isPlayerHidden = false
    myPlayer.controls(false)
    document.querySelector('#playerContainer video').loop = true
    document.querySelector('.vjs-big-play-button ').style.display = 'none'
    sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'Laziness'})
    myPlayer.src([
      {
        src: item.loopUrl,
        type: 'application/vnd.ms-sstr+xml',
      },
    ])
  }


  onMount(() => {
    let unsubscribe = ()=>{}
    
    if(myPlayer.src().startsWith(item.nextUrl)  ){
      
      unsubscribe = currentTime.subscribe((state)=>{
        const fakeTime = state + 107
        const minutes = Math.floor(fakeTime/60)
        document.querySelector('.vjs-current-time-display').innerText = ' ' + minutes + ':' + `${Math.floor(fakeTime-minutes*60)}`.padStart(2, '0');
        document.querySelector('.vjs-play-progress').style.width = `${fakeTime/185*100}%`
        document.querySelector('.vjs-load-progress ').style.width = `${fakeTime/185*100}%`
        
      });
    }
    setTimeout(()=>mounted = true, 1000);
    myPlayer.autoplay(true)
    if (stage === 'close') {
      myPlayer.controls(true)
      stage = 'nextsrc'
    }
    return () => {
      unsubscribe();
      if (stage === 'nextsrc') {
        document.querySelector('.vjs-big-play-button ').style.display = ''
        $hidePoster = false
      }
    }
  })
  const close = () => {
    sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'Laziness'})
    document.querySelector('#playerContainer video').loop = false
    stage = 'close'
    isPlayerHidden = true

    myPlayer.src([
      {
        src: item.nextUrl,
        type: 'application/vnd.ms-sstr+xml',
      },
    ])
  }
</script>

<div class="videoContainer" class:hidden={isPlayerHidden} on:click={close} />
{#if stage === 'nextsrc' && $currentTime > 80.149256}
  <NextSeries />
{/if}
{#if stage === 'first' && $currentTime > 1}
  <Notification item={{image:"len"}}/>
{/if}

<style>
  .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
  }
  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hidden {
    display: none;
  }
</style>
