<svg viewBox="0 0 125 145" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M51.8953 0.000617031L51.8953 104.863L14.5769 67.545L-2.71904e-06 82.1219L62.2043 144.326L124.347 82.2043L109.77 67.6274L72.5133 104.863L72.5133 0.000616129L51.8953 0.000617031Z"
    fill="black"
  />
</svg>
<style>
    svg{
        transform: rotate(180deg);
    }
</style>