<script>
    import { onMount } from 'svelte';
    import Hand from './Hand.svelte'
    import Arrow from './Arrow.svelte'
    import sendMetrik from '../../../../metrika'

    // export let item;
    export let myPlayer;
    // export let playerWidth;
    let isOpen = true;

    function preventDefault(e) {
    e.preventDefault()
  }

    onMount(() => {
        sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'InstagramScroll'})
        myPlayer.pause();
        myPlayer.controls(false);
        document.body.addEventListener('touchmove', preventDefault, { passive: false })
        return ()=>{
            myPlayer.controls(true);
            document.body.removeEventListener('touchmove', preventDefault)
        }
    });

    const continuePlay = () => {
        sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'InstagramScroll'})
        myPlayer.play();
        myPlayer.controls(true);
        let isOpen = false;
    };

    let coords = {};
    const requiredDifference = myPlayer.height_ / 2;

    const eventHandler = (e) => {
        if (e.touches) {
            return e.touches[0];
        } else if (e instanceof PointerEvent) {
            return e;
        } else return null;
    }

    const pointerStartHandler = (e) => {
        const event = eventHandler(e);
        if (!event) return;

        coords = {pageX: event.pageX, pageY: event.pageY};
    }

    const pointerEndHandler = (e) => {
        const event = eventHandler(e);
        if (!event) return;
        if (Math.abs(coords.pageY - event.pageY) > myPlayer.height_ * 0.05) {
            continuePlay();
        }
    }
</script>
{#if isOpen}
<div
    class="instagram"
    on:pointerdown={pointerStartHandler}
    on:pointerup={pointerEndHandler}
    on:touchstart={pointerStartHandler}
    on:touchend={pointerEndHandler}
>
    <div class="arrow"><Arrow/></div>
    <div class="hand"><Hand/></div>
</div>
{/if}
<style>
    .instagram {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        width: 100%;
    }
    .arrow{
        position: absolute;
        top: 45%;
        left: 40%;
        width: 10%;
    }
    .hand{
        position: absolute;
        top: 45%;
        left: 55%;
        width: 10%;
        animation: swipe 2s infinite;
    }
    @keyframes swipe{
        0% {
      transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    80%{
        transform: rotate(0deg);
    }

    }
</style>
