<script>
    export let item;
    export let startAdditionalPlayer = () => {}

    const friendCountString = () => {
        const {friendCount} = item;
        const titles = ['общий друг', 'общих друга', 'общих друзей'];
        const cases = [2, 0, 1, 1, 1, 2];
        return friendCount + ' ' + titles[(friendCount % 100 > 4 && friendCount % 100 < 20) ? 2 : cases[(friendCount % 10 < 5) ? friendCount % 10 : 5]];
    };
</script>

<div class="FriendCard">
    <img
        class="avatar"
        alt="avatar"
        src={`./images/fb/friends/${item.avatar}`}
    />
    <div class="info">
        <div class="name">{item.name}</div>
        <div class="count">
            {#if item.friendCount}
            <img
                class="commonFace"
                alt="commonFace"
                src={`./images/fb/commonFriend.png`}
            />
            <span>{friendCountString()}</span>
            {/if}
        </div>
        <button class='add' on:click={() => startAdditionalPlayer(item.videoUrl)}>Добавить</button>
        <button class='del'>Удалить</button>
    </div>

</div>

<style>
    .FriendCard {
        flex: 1 1 0px;
        min-width: calc(var(--playerWidth) * 0.2 *0.75);
        max-width: calc(var(--playerWidth) * 0.25 *0.75);
        border-radius: calc(var(--playerWidth) * 0.006 *0.75);
        background-color: #FFFFFF;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
        overflow: hidden;
        margin-bottom: calc(var(--playerWidth) * 0.008 *0.75);;
        margin-right: calc(var(--playerWidth) * 0.008 *0.75);
    }
    .avatar {
        width: 100%;
    }
    .info {
        padding: calc(var(--playerWidth) * 0.012 *0.75);;
        display: flex;
        flex-direction: column;
        font-family: Roboto;
    }
    .name {
        font-style: normal;
        font-weight: 800;
        font-size: calc(var(--playerWidth) * 0.017 *0.75);
        line-height: calc(var(--playerWidth) * 0.021 *0.75);
        margin-bottom: calc(var(--playerWidth) * 0.006 *0.75);
    }
    .count {
        font-style: normal;
        font-weight: normal;
        font-size: calc(var(--playerWidth) * 0.015 *0.75);
        line-height: calc(var(--playerWidth) * 0.018 *0.75);
        min-height: 20px;
        display: flex;
        align-items: center;
    }
    .commonFace {
        width: calc(var(--playerWidth) * 0.02 *0.75);;
        height: calc(var(--playerWidth) * 0.02 *0.75);;
        border-radius: calc(var(--playerWidth) * 0.01 *0.75);;
        margin-right: calc(var(--playerWidth) * 0.004 *0.75);;
    }
    button {
        margin-top: calc(var(--playerWidth) * 0.006 *0.75);
        padding: calc(var(--playerWidth) * 0.009 *0.75);
        border-radius: calc(var(--playerWidth) * 0.005 *0.75);
        border: 0;
        font-style: normal;
        font-weight: 500;
        font-size: calc(var(--playerWidth) * 0.015 *0.75);
        line-height: calc(var(--playerWidth) * 0.018 *0.75);
    }
    .add {
        background: #E8F3FF;
        color: #3477F0;
        cursor: pointer;
    }
    .add:hover {
        background: #DCE7F2;
    }
    .add:active {
        background: #CBDFFE;
    }

    .del {
        background: #E4E6EB;
    }
</style>
