<script>
    import FriendBlock from './FriendBlock.svelte'
    import friendsList from './friendsList.js'
    export let startAdditionalPlayer = () => {};
</script>

<div class="gridWrapper">
    <h2>Кто из них обидчик?</h2>
    <div class="gridArray">
        {#each friendsList as item}
            <FriendBlock {item} {startAdditionalPlayer} />
        {/each}
    </div>
</div>

<style>
    @media screen and (max-width: 720px) {
        .gridWrapper.gridWrapper {
            padding: calc(var(--playerWidth) * 0.01 *0.75);;
        }
    }
    .gridArray, .gridWrapper {
        /* Fix/workaround for forsed render in safari */
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    .gridWrapper {
        padding: calc(var(--playerWidth) * 0.036 *0.75);;
    }
    h2 {
        font-size: calc(var(--playerWidth) * 0.02 *0.75);;
        font-weight: 700;
        font-style: normal;
        line-height: calc(var(--playerWidth) * 0.024 *0.75);;
        margin: 0;
    }
    .gridArray {
        width: 100%;
        margin-top: calc(var(--playerWidth) * 0.012 *0.75);;
        margin-bottom: calc(var(--playerWidth) * 0.024 *0.75);;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

</style>
