<script>
    import Logo from './Logo.svelte';
</script>

<nav>
    <div class="container">
        <Logo />
        <div class="centralIcons">
            <div class="icon">
                <img src="./images/fb/icons/home.png" alt="Home" />
            </div>
            <div class="icon underline">
                <img src="./images/fb/icons/friends.png" alt="Home" />
            </div>
            <div class="icon" style="position: relative">
                <img src="./images/fb/icons/video.png" alt="Home" style="max-height: 70%; position: relative; top: calc(var(--playerWidth) * -0.001);" />
            </div>
            <div class="icon">
                <img src="./images/fb/icons/shop.png" alt="Home" />
            </div>
            <div class="icon">
                <img src="./images/fb/icons/gang.png" alt="Home" />
            </div>
        </div>

        <div class="rightIcons">
            <div class="avatar">
                <img
                    alt="avatar"
                    src={`./images/fb/avatar.png`}
                />
            </div>
            <div class="username">Чувак</div>

            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/fb/icons/dots.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/fb/icons/messenger.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/fb/icons/bell.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/fb/icons/triangle.png`}
                />
            </div>
        </div>
    </div>
</nav>

<style>
    /* @media screen and (max-width: 720px) {
        .container .centralIcons,
        .container .rightIcons {
            display: none;
        }
    } */
    nav {
        background-color: #FFFFFF;
        border-bottom: 1px solid #dbdbdb;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
        height: calc(var(--playerWidth) * 0.054 *0.75);
        padding: calc(var(--playerWidth) * 0.009 *0.75) 0;
    }
    .container {
        width: calc(var(--playerWidth) *0.75);
        padding: 0 5%;
        max-height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .centralIcons {
        display: flex;
        height: calc(var(--playerWidth) * 0.052 *0.75);
    }
    .rightIcons {
        display: flex;
        height: calc(var(--playerWidth) * 0.052 *0.75);
        align-items: center;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(var(--playerWidth) * 0.1 *0.75);
    }
    .underline {
        margin-bottom: calc(var(--playerWidth) * -0.001 *0.75);
        border-bottom: calc(var(--playerWidth) * 0.004 *0.75) solid #ED472F;
    }
    .centralIcons img {
        max-height: 50%;
        max-width: 40%;
    }
    .button {
        margin-left: calc(var(--playerWidth) * 0.008 *0.75);
        width: calc(var(--playerWidth) * 0.04 *0.75);
        height: calc(var(--playerWidth) * 0.04 *0.75);
        background: #E4E6EB;
        border-radius: calc(var(--playerWidth) * 0.02 *0.75);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button img {
        width: 50%;
        height: 50%;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(var(--playerWidth) * 0.03 *0.75);
        height: calc(var(--playerWidth) * 0.03 *0.75);
        border-radius: 1calc(var(--playerWidth) * 0.015 *0.75);

        overflow: hidden;
    }
    .avatar img {
        width: 100%;
        height: 100%;
    }
    .username {
        font-size: calc(var(--playerWidth) * 0.02 *0.75);
        margin-left: calc(var(--playerWidth) * 0.004 *0.75);
        margin-right: calc(var(--playerWidth) * 0.02 *0.75);
    }
</style>
