<script>
    import { onMount } from 'svelte';
    import Header from './Header.svelte'
    import LeftPanel from './LeftPanel.svelte';
    import FriendsGrid from './FriendsGrid.svelte'
    import {playSound, stopSound} from '../../../Audio/index.svelte'
    import sendMetrik from '../../../../metrika'
    // export let item;
    export let myPlayer;
    // export let playerWidth;

    let additionalPlayer;
    let isInterfaceHidden = false;
    let isPlayerHidden = true;

    onMount(() => {
        sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'DamnbookFriends'})
        playSound();
        myPlayer.pause();
        myPlayer.controls(false);

        additionalPlayer = window.amp(
            'additional_player',
            {
                nativeControlsForTouch: false,
                autoplay: true,
                // muted: true,
                controls: false,
                fluid: true,
                height: myPlayer.options.height,
                width: myPlayer.options.width,
                logo: { enabled: false },
            },
            function () {
                additionalPlayer.on('ended', () => {
                    isPlayerHidden = true;
                    myPlayer.play();
                    myPlayer.controls(true);
                    additionalPlayer.dispose();
                })
            },
        )
        return ()=>{
            myPlayer.controls(true);
        }
    });
    
    const startAdditionalPlayer = (src) => {
        sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'DamnbookFriends'})
        stopSound();
        if (!src) return;

        additionalPlayer.src([
            {
                src,
                type: 'application/vnd.ms-sstr+xml',
            },
        ]);
        isInterfaceHidden = true;
        isPlayerHidden = false;
        additionalPlayer.play();
    }
</script>

<div class="DamnbookFriends" class:hidden={isInterfaceHidden}>
    <Header />
    <div class="main">
        <LeftPanel />
        <div class="scrollable">
            <FriendsGrid {startAdditionalPlayer} />
        </div>
    </div>
</div>
<div class="videoContainer" class:hidden={isPlayerHidden}>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video id="additional_player" class="azuremediaplayer amp-default-skin" playsinline />
</div>

<style>
    .DamnbookFriends, .videoContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #F0F2F5;
        z-index: 1000;
        width: 100%;
        max-width: 100%;
    }
    .videoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
    }

    .main {
        position: relative;
        top: calc(var(--playerWidth) * 0.055 *0.75);
        height: 100%;
        display: flex;
    }
    .scrollable {
        height: 100%;
        box-sizing: border-box;
        padding-top: calc(var(--playerWidth) * 0.004 *0.75);
        padding-bottom: calc(var(--playerWidth) * 0.012 *0.75);
        overflow-y: scroll;
    }
    .hidden {
        display: none;
    }
</style>
