<script>

    const menuItems = [
        {
            text: 'Главная',
            icon: 'Main.png',
            isSelected: false,
            hasChevrone: false,
        },
        {
            text: 'Запросы на добавление в друзья',
            icon: 'Arrow.png',
            isSelected: true,
            hasChevrone: true,
        },
        {
            text: 'Рекомендации',
            icon: 'Plus.png',
            isSelected: false,
            hasChevrone: true,
        },
        {
            text: 'Все знакомые',
            icon: 'List.png',
            isSelected: false,
            hasChevrone: true,
        },
        {
            text: 'Дни рождения',
            icon: 'Gift.png',
            isSelected: false,
            hasChevrone: false,
        },
        {
            text: 'Собственные списки',
            icon: 'List.png',
            isSelected: false,
            hasChevrone: true,
        },
    ]
</script>

<div class="links">
    <div class="header">
        <h1>Знакомые</h1>
        <div class="icon">
            <img src="./images/fb/icons/Gear.png" alt="icon"/>
        </div>
    </div>

    {#each menuItems as {text, icon, isSelected, hasChevrone} }
    <div class="row" class:selected={isSelected}>
        <div class="item">
            <div class="icon"><img src="./images/fb/icons/{icon}" alt="icon"/></div>
            {text}
        </div>
        {#if hasChevrone}
            <div class="icon">
                <img src="./images/fb/icons/сhevrone.png" alt="icon"/>
            </div>
        {:else}
            <div/>
        {/if}
    </div>
    {/each}
</div>

<style>
    /* @media screen and (max-width: 720px) {
        .links {
            display: none;
        }
    } */
    .links {
        width: calc(var(--playerWidth) * 0.36 *0.75);
        padding-left: calc(var(--playerWidth) * 0.030 *0.75);
        background-color: #FFFFFF;
        border-right: 1px solid #dbdbdb;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: calc(var(--playerWidth) * 0.0172 *0.75);
        line-height: calc(var(--playerWidth) * 0.020 *0.75);

        margin-bottom: calc(var(--playerWidth) * 0.01 *0.75);
    }
    .item {
        display: flex;
        align-items: center;
    }
    .icon {
        flex-shrink: 0;
        width: calc(var(--playerWidth) * 0.036 *0.75);
        height: calc(var(--playerWidth) * 0.036 *0.75);
        border-radius: calc(var(--playerWidth) * 0.018 *0.75);
        padding-right: calc(var(--playerWidth) * 0.012 *0.75);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selected {
        color: #0679FF;
    }
    .selected img {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(35%) sepia(87%) saturate(3800%) hue-rotate(203deg) brightness(103%) contrast(100%);
    }
    .icon img {
        max-width: 80%;
        max-height: 80%;
    }
    h1 {
        font-size: calc(var(--playerWidth) * 0.03 *0.75);
    }
</style>
