<script context="module">
  export const playSound = async (type = 'backgroundSound', unlock = false) => {
    const audioElement = document.getElementById(type)
    if (unlock) {
      audioElement.muted = true
      audioElement.play()
      audioElement.pause()
      audioElement.muted = false
    } else {
      audioElement.muted = false
      audioElement.currentTime = 0
      audioElement.play()
    }
  }

  export const stopSound = (type = 'backgroundSound') => {
    const audioElement = document.getElementById(type)
    audioElement.pause()
  }
</script>

<script>
  import { onMount } from 'svelte'

  let isAudioUnlocked = false
  const unlockAudio = () => {
    if (isAudioUnlocked) return
    playSound('backgroundSound', true)
    playSound('alertSound', true)
    playSound('burgerSound', true)
    isAudioUnlocked = true
    document.body.removeEventListener('click', unlockAudio)
    document.body.removeEventListener('touchstart', unlockAudio)
  }
  onMount(() => {
    document.body.addEventListener('click', unlockAudio, true)
    document.body.addEventListener('touchstart', unlockAudio, true)
    return () => {
      document.body.removeEventListener('click', unlockAudio)
      document.body.removeEventListener('touchstart', unlockAudio)
    }
  })
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<audio id="backgroundSound" preload loop>
  <source
    src={'https://screenlifevideoplatform.blob.core.windows.net/interactive/sins-sound-loop2.mp3'}
    type="audio/mpeg"
  />
</audio>
<audio id="alertSound" preload>
  <source src={'https://screenlifevideoplatform.blob.core.windows.net/interactive/Alert.mp3 '} type="audio/mpeg" />
</audio>
<audio id="burgerSound" preload loop>
  <source
    src={'https://screenlifevideoplatform.blob.core.windows.net/interactive/Loop-for-burger-test.mp3'}
    type="audio/mpeg"
  />
</audio>
