<script>
  import { activeSeries } from '../../store'
  import Zone from './Zone/index.svelte'
  import Frame from './Frame/index.svelte'
  import SpamHell from './SpamHell/index.svelte'
  import Foodporn from './Foodporn/index.svelte'
  import InstagramScroll from './InstagramScroll/index.svelte'
  import InstagramMask from './InstagramMask/index.svelte'
  import DamnbookFriends from './DamnbookFriends/index.svelte'
  import Quiz from './Quiz/index.svelte'
  import NextSeries from './NextSeries/index.svelte'
  import Proc from './Proc/index.svelte'
  import Vote from './Vote/index.svelte'
  import Notification from './Notification/index.svelte'

  export let playerWidth
  export let currentTime
  export let myPlayer
  export let containerRef

  const forwardEvent = (event) => {
    const newEvent = event.touches ? new TouchEvent(event.type, event) : new MouseEvent(event.type, event)
    const player = containerRef?.querySelector('.vjs-player')
    if (player) player.dispatchEvent(newEvent)
  }

  const elementTypes = {
    Zone,
    Frame,
    SpamHell,
    Foodporn,
    InstagramScroll,
    InstagramMask,
    DamnbookFriends,
    Quiz,
    NextSeries,
    Proc,
    Vote,
    Notification,
  }

  $: activeElements = $activeSeries.sequence
    ? $activeSeries.sequence.reduce((memo, item) => {
        return currentTime >= item.start && currentTime <= item.end ? [...memo, item] : memo
      }, [])
    : []
</script>

<div
  class="overlay"
  style={`--playerWidth: ${playerWidth}px`}
  on:mousedown={forwardEvent}
  on:mouseup={forwardEvent}
  on:touchstart={forwardEvent}
  on:touchend={forwardEvent}
  on:mousemove={forwardEvent}
>
  {#if activeElements}
    {#each activeElements as item}
      <svelte:component this={elementTypes[item.type]} {myPlayer} {playerWidth} {item} />
    {/each}
  {/if}
</div>

<style>
  .overlay {
    color: black;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 56.252%;
    overflow: hidden;
  }
</style>
