<script>
  import { onMount } from 'svelte'
  import {playSound, stopSound} from '../../../Audio/index.svelte'
  import sendMetrik from '../../../../metrika'
  // export let item;
  export let myPlayer
  // export let playerWidth
  let isVisible = true
  const bannerNames = [
    'Group255',
    'Group259',
    'Group263',
    'Group264',
    'Group265',
    'Group267',
    'Group277',
    'Group278',
    'Group279',
    'Group284',
    'Group307',
    'Group308',
    'Group310',
    'Group311',
    'Group313',
    'Group315',
    'Group318',
    'Group320',
    'Group321',
    'Group322',
    'Group323',
    'Group324',
    'Group325',
    'Group326',
    'Group423',
  ]

  let banners = {
    'Group255': {
      left: 72,
      top: 56,
      width: 25,
    },
    'Group259': {
      left: 89,
      top: 5,
      width: 12,
    },
    'Group263': {
      left: 4,
      top: 5,
      width: 21,
    },
    'Group264': {
      left: 45,
      top: 45,
      width: 15,
    },
    'Group265': {
      left: 40,
      top: 0,
      width: 20,
    },
    'Group267': {
      left: 45,
      top: 4,
      width: 20,
    },
    'Group277': {
      left: 50,
      top: 34,
      width: 20,
    },
    'Group278': {
      left: 45,
      top: 20,
      width: 15,
    },
    'Group279': {
      left: 69,
      top: 66,
      width: 20,
    },
    'Group284': {
      left: 3,
      top: 45,
      width: 20,
    },
    'Group307': {
      left: 59,
      top: 40,
      width: 20,
    },
    'Group308': {
      left: 67,
      top: 38,
      width: 23,
    },
    'Group310': {
      left: 9,
      top: 50,
      width: 20,
    },
    'Group311': {
      left: 35,
      top: 30,
      width: 20,
    },
    'Group313': {
      left: 32,
      top: 7,
      width: 15,
    },
    'Group315': {
      left: 80,
      top: 0,
      width: 20,
    },
    'Group318': {
      left: 60,
      top: 69,
      width: 30,
    },
    'Group320': {
      left: 30,
      top: 43,
      width: 20,
    },
    'Group321': {
      left: 80,
      top: 40,
      width: 15,
    },
    'Group322': {
      left: 4,
      top: 5,
      width: 30,
    },
    'Group323': {
      left: 0,
      top: 74,
      width: 20,
    },
    'Group324': {
      left: 70,
      top: 15,
      width: 20,
    },
    'Group325': {
      left: 5,
      top: 0,
      width: 30,
    },
    'Group326': {
      left: 50,
      top: 5,
      width: 20,
    },
    'Group423': {
      left: 36,
      top: 83,
      width: 40,
    },
  }

  const setBannersOpen = (i = 0) => {
    const name = bannerNames[i]
    banners[name].isOpen = true
    if (i < bannerNames.length - 1) setTimeout(() => setBannersOpen(i + 1), Math.random() * 200)
  }

  onMount(() => {
    sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'SpamHell'})
    isVisible = true
    setTimeout(()=>{
      playSound();
      myPlayer.pause()
    }, 3000)
    
    myPlayer.controls(false)

    Object.keys(banners).forEach((name) => {
      banners[name].isOpen = null
    })
    setBannersOpen()
    return ()=>{
            myPlayer.controls(true);
            stopSound();
        }
  })

  const continuePlay = () => {
    sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'SpamHell'})
    stopSound();
    myPlayer.controls(true)
    myPlayer.play()
    isVisible = false
  }

  const closeBanner = (name) => (banners[name].isOpen = false)

  $: if (bannerNames.every((name) => banners[name]?.isOpen == false)) continuePlay()
</script>

{#if isVisible}
  <div class="spamhell">
    {#each Object.keys(banners) as name (name)}
      {#if banners[name]?.isOpen}
        <div
          on:click={() => closeBanner(name)}
          class="banner"
          style={`
                    left: ${banners[name].left}%;
                    top: ${banners[name].top}%;
                    width: ${banners[name].width}%;
                `}
        >
          <div class="overlay" />
          <img src="./images/spamhell/banners/{name}.png" alt="Spamhell {name}" />
        </div>
      {/if}
    {/each}
  </div>
{/if}

<style>
  .spamhell {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    cursor: pointer;
    /* 
    background: url(../images/spamhell/desktop.png);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0;
    animation: heartbeat 2s linear infinite;
  }
  @keyframes heartbeat {
    0% {
      opacity: 0.14;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0.15;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0.15;
    }
    100% {
      opacity: 0.15;
    }
  }
  .banner {
    position: absolute;
  }
  .banner img {
    width: 100%;
    display: block;
  }
</style>
