<script>
    import { onMount } from 'svelte';
    import {playSound, stopSound} from '../../../Audio/index.svelte'
    import sendMetrik from '../../../../metrika'
    // export let item;
    export let myPlayer;
    // export let playerWidth;

    const TIME_TO_SHOW_RESULT = 2000;

    let backgroundImage = 'motivated.jpeg'
    const setBackgroundImage = (img) => backgroundImage = img;
    let isButtonsHidden = false;

    onMount(() => {
        sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'Vote'})
        playSound()
        myPlayer.pause();
        myPlayer.controls(false);
        backgroundImage = 'motivated.jpeg';
        isButtonsHidden = false;
        return ()=>{
            myPlayer.controls(true);
            stopSound();
        }
    });

    const continuePlay = () => {
        sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'Vote'})
        stopSound();
        myPlayer.controls(true);
        myPlayer.play();
    }
    const vote = (val) => {
        isButtonsHidden = true;
        setBackgroundImage(val ? 'motivated_true.jpeg' : 'motivated_false.jpeg');
        setTimeout(() => continuePlay(), TIME_TO_SHOW_RESULT)
    }

</script>

<div class="background">
    <div
        class="phoneContainer"
        style="background-image: url(./images/vote/{backgroundImage})"
    >
    <div class="buttonContainer" style="display: {isButtonsHidden ? 'none' : 'flex'}">
        <div class="invisibleButton" on:click={() => vote(true)}></div>
        <div class="invisibleButton" on:click={() => vote(false)}></div>
    </div>
    </div>
</div>

<style>
    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #000000;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phoneContainer {
        width: 100%;
        height: 100%;
        max-width: calc(var(--playerWidth) * 432/768 * 180/320);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .buttonContainer {
        position: relative;
        top: calc(var(--playerWidth) * -0.07);
        display: flex;
    }
    .invisibleButton {
        height: calc(var(--playerWidth) * 0.08);
        width: calc(var(--playerWidth) * 0.11);
        opacity: 0;
        cursor: pointer;
    }
</style>
