<script>
  import { activeSeriesIndex, currentTime, duration, timeLeft } from '../store'
  export let item = {}
  export let i
  export let onClick = () => {}

  let trailerPaused = true
</script>

<div class="item" on:click={() => onClick(i)} class:active={$activeSeriesIndex === i}>
  <div class="cover" style={`background-image:url(./images/${item.image})`}>
    {#if item.trailerSmall}
      <div class="trailer">
        <video
          src={item.trailerSmall}
          muted
          playsinline
          autoplay
          loop
          class="trailerVideo"
          on:play={() => (trailerPaused = false)}
        />
      </div>
    {/if}
    {#if i - $activeSeriesIndex === 1}
      <div class="timing">
        <div class="current">Следующая</div>
      </div>
    {/if}
    {#if $activeSeriesIndex === i}
      <div class="timing">
        <div class="current">Идет сейчас</div>
        {#if $timeLeft}<div class="timeLeft">Осталось: {$timeLeft}</div>{/if}
      </div>
      <div class="progress">
        <div class="progressBar" style={`width: ${($currentTime / $duration) * 100}%`} />
      </div>
    {/if}
  </div>
  <div class="secondLine">
    <div class="number">{item.number}</div>
    <div class="duration">{item.duration}</div>
  </div>
  <div class="name">{item.name}</div>
</div>

<style>
  .trailer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .trailerVideo {
    min-width: 100%;
    /* min-height: 100%; */
    max-width: 100%;
    /* max-height: 100%; */
  }
  .current {
    font-size: 12px;
    line-height: 150%;
    text-align: right;
  }
  .timeLeft {
    font-size: 12px;
    line-height: 150%;
    color: #b8b8b8;
  }
  .timing {
    position: absolute;
    top: 0;
    right: 4px;
  }
  .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
  }
  .progressBar {
    background: #ffffff;
    height: 4px;
    width: 0%;
  }
  .item {
    min-width: 25%;
    max-width: 25%;
    padding: 0 20px 40px 0;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
  .item:hover {
    opacity: 1;
    cursor: pointer;
  }
  .cover {
    padding-top: 39%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  .secondLine {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  .number {
    font-size: 12px;
    line-height: 14px;
    color: #b8b8b8;
  }
  .duration {
    font-size: 12px;
    line-height: 14px;
    color: #b8b8b8;
  }
  .name {
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
  }
  .active {
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    .item {
      min-width: 33.33%;
      max-width: 33.33%;
    }
  }
  @media screen and (max-width: 425px) {
    .item {
      min-width: 60%;
      max-width: 60%;
    }
    .name {
      margin-top: 8px;
    }
  }
</style>
