html,
body {
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  --accent: #43fced;
  --accent-hover: rgba(67, 252, 237, 0.6);
}

#playerContainer {
  /* max-height: 100vh;
	max-width: 40.2vh; */
  margin: 0 auto;
}
#playerContainer .vjs-big-play-button {
  border: none;
  background: #fff; /* main */
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#playerContainer .vjs-big-play-button:hover::before {
	color: var(--accent-hover);
}
#playerContainer .vjs-big-play-button::before {
  font-size: 46px;
  text-shadow: none;
  color: var(--accent);
  left: 53%;
}

#playerContainer .vjs-control-bar {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  right: 12px;
  left: 12px;
  bottom: 12px;
  width: -webkit-calc(100% - 25px);
  width: calc(100% - 24px);
  padding: 2px 16px;
  height: 48px;
}
#playerContainer .vjs-progress-control {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  height: 26px;
  border-radius: 5px;
  overflow: hidden;
}
#playerContainer .vjs-progress-holder {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(120px);
  -webkit-backdrop-filter: blur(120px);
}
#playerContainer .vjs-play-progress.vjs-slider-bar {
  background-color: var(--accent-hover); /* main */
  background: var(--accent-hover); /* main */
}
#playerContainer .vjs-slider-handle {
  display: none;
}


#playerContainer .vjs-current-time {
  top: 8px;
  position: absolute;
  z-index: 1;
  left: 15px;
  right: inherit;
  user-select: none;
  cursor: pointer;
}
#playerContainer .vjs-time-control.vjs-time-divider {
  top: 8px;
  position: absolute;
  left: 35px;
  user-select: none;
  cursor: pointer;
}
#playerContainer .vjs-duration {
  top: 8px;
  position: absolute;
  left: 44px;
  user-select: none;
  cursor: pointer;
}
#playerContainer .amp-controlbaricons-middle {
  position: relative;
}

#playerContainer .amp-controlbaricons-left {
  padding-right: 8px;
}
#playerContainer .amp-controlbaricons-right {
  padding-left: 8px;
}

/* controls */
#playerContainer .vjs-fullscreen-control::before {
  background-image: url(./images/fullscreen.svg);
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
}
/* controls */

/* menu */
#playerContainer .vjs-volume-control .vjs-menu-content {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(120px);
  -webkit-backdrop-filter: blur(120px);
  border-radius: 8px;
}
#playerContainer .vjs-volume-control .vjs-volume-level {
  background-color: #fff; /* main */
  background: #fff; /* main */
}
#playerContainer .amp-quality-control .vjs-menu-content {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(120px);
  -webkit-backdrop-filter: blur(120px);
  border-radius: 8px;
}
/* menu */

#playerContainer .vjs-mouse-display {
  display: none;
}

#playerContainer .vjs-fluid.vjs-user-inactive {
  height: 100%;
}
@media screen and (max-width: 600px) {
  #playerContainer .vjs-big-play-button {
    width: 40px;
    height: 40px;
  }
  #playerContainer .vjs-big-play-button::before {
    font-size: 24px;
  }
}
