<script>
  import { activeSeries, activeSeriesIndex } from '../store'
  import { slide } from 'svelte/transition'
  import Zigmund from '../Zigmund/index.svelte'
  let isDescriptionOpen = false
  const toggleDescription = () => {
    isDescriptionOpen = !isDescriptionOpen
  }
  activeSeriesIndex.subscribe(() => {
    isDescriptionOpen = false
  })
</script>

<div class="wrapper">
  <div class="container">
    <div class="number">{$activeSeries.number}</div>
    <div class="name">{$activeSeries.name}</div>
    <div class="descriptionWrapper">
      <div>
        <div class="description">
          {$activeSeries.description}
        </div>
        {#if isDescriptionOpen}
          <div in:slide|local class="additionalDescription">{@html $activeSeries.fullDescription}</div>
        {/if}
        <div class="more" on:click={toggleDescription}>{isDescriptionOpen ? 'Свернуть' : 'Читать ещё'}</div>
      </div>
    </div>

    <div class="zigmundMobile">
      <Zigmund />
    </div>
  </div>
</div>

<style>
  .descriptionWrapper {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
    margin-top: 80px;
  }
  .number {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
  }
  .name {
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    margin-top: 8px;
  }

  .additionalDescription {
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;
  }
  .more {
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: var(--accent);
    cursor: pointer;
    margin-top: 24px;
  }
  .more:hover {
    color: var(--accent-hover);
  }
  .additionalDescription :global(a) {
    color: var(--accent);
  }
  .additionalDescription :global(a:hover) {
    color: var(--accent-hover);
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
      margin-top: 48px;
    }
    .number {
      font-size: 12px;
      line-height: 14px;
    }
    .name {
      font-size: 21px;
      line-height: 25px;
    }
    .description {
      font-size: 16px;
      line-height: 150%;
      margin-top: 8px;
    }
    .additionalDescription {
      font-size: 16px;
      line-height: 150%;
    }
  }
</style>
