<script>
</script>

<div class="wrapper">
  <div class="container">
    <h1>7 Грехов</h1>
    <div class="type">Cериал</div>
    <div class="description">
      Гордыня, жадность, зависть, гнев, похоть, обжорство, лень. Эти пороки вечны и сегодня они перекочевали из реальной
      жизни в жизнь цифровую.
      <br /><br />
      Обжорство оборачивается бесконечным потреблением контента, лень — прокрастинацией в соцсетях и запойным просмотром
      контента, а гнев ассоциируется с кибербуллингом.
    </div>
    <div class="genreWrapper" id="anchor">
      <div class="genre">
        <div class="genreText">Жанр: Образовательный сериал, комедия</div>
        <div class="genreText">Язык: Русский</div>
        <div class="genreText">Год: 2021</div>
      </div>
      <div class="age">16+</div>
    </div>
  </div>
</div>

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
  }
  h1 {
    margin: 0;
    margin-top: 40px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
  }
  .type {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
    margin-top: 8px;
  }
  .description {
    font-size: 21px;
    line-height: 150%;
    margin-top: 32px;
  }
  .genreWrapper {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  .genreText {
    margin-right: 32px;
  }
  .genre {
    display: flex;
  }
  .age {
    font-size: 16px;
    line-height: 19px;

    color: #ffe102;
  }
  @media screen and (max-width: 600px) {
    .genre {
      flex-direction: column;
    }
    .age{
      display: flex;
    align-items: flex-end;
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
    }
    h1 {
      font-size: 28px;
      line-height: 33px;
      margin-top: 24px;
    }
    .type {
      font-size: 12px;
      line-height: 14px;
    }
    .description {
      font-size: 16px;
      line-height: 150%;
      margin-top: 16px;
    }
    .genreWrapper{
      font-size: 12px;
line-height: 14px;
    }
    .age{
      font-size: 12px;
line-height: 14px;
    }
  }
</style>
