<script>
    import { onMount } from 'svelte';
    import QuizCard from './QuizCard.svelte';
    import {playSound, stopSound} from '../../../Audio/index.svelte'
    import sendMetrik from '../../../../metrika'
    // export let item;
    export let myPlayer;
    export let playerWidth;

    onMount(() => {
        sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'Quiz'})
        playSound()
        myPlayer.pause();
        myPlayer.controls(false);
        return ()=>{
            myPlayer.controls(true);
            stopSound();
        }
    });

    const continuePlay = () => {
        sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'Quiz'})
        stopSound();
        myPlayer.controls(true);
        myPlayer.play();
    }

    let state = 0;
    const incrementState = () => state += 1;

    const quizArray = [
        {},
        {
            title: 'Часто сидишь и смотришь часами обзоры на товары, в которых нет нужды?',
            image: 'man_with_phone',
            options: [
                {text: 'Очень (', percent: 83},
                {text: 'Кто сказал, что в них нет нужды?!', percent: 17},
            ],
            button: {text: 'Далее', color: '#88D44C'},
            hasIndex: true,
            selected: null,
        },
        {
            title: 'Может побалуем себя чем-то?',
            image: 'thinking_girl',
            options: [
                {text: 'Было бы здорово...', percent: 35},
                {text: 'Это не баловство, а действенный метод! Живем один раз.', percent: 65},
            ],
            button: {text: 'Далее', color: '#88D44C'},
            hasIndex: true,
            selected: null,
        },
        {
            title: 'У вас много «полезных» подписок?',
            image: 'man_with_tab',
            options: [
                {text: 'А у вас?', percent: 42},
                {text: 'Все полезные!', percent: 58},
            ],
            button: {text: 'Далее', color: '#88D44C'},
            hasIndex: true,
            selected: null,
        },
        {
            title: 'А тесты нравятся такие?',
            image: 'pencil',
            options: [
                {text: 'Да', percent: 51},
                {text: 'Конечно', percent: 49},
            ],
            button: {text: 'Далее', color: '#88D44C'},
            hasIndex: true,
            selected: null,
        },
        {
            title: 'Чувствую сарказм... ',
            image: 'thinking_man',
            options: [
                {text: 'Да покажи уже результат!'},
                {text: 'Правильно делаешь…'},
            ],
            button: {text: 'Показать результат', color: '#4C72D4'},
            hasIndex: true,
            selected: null,
        },
        {
            title: 'РЕЗУЛЬТАТ',
            image: 'surprised_man',
            button: null,
            description: `
                Возможно вы шопоголик, а может и нет!

                Я простой онлайн тест, у вас завышенные ожидания от меня…
            `,
        },
    ]
    $: if (state > 6) continuePlay();
    $: current = quizArray[state];
</script>

<div class="container">
    <div class="background">
        {#if state == 0}
            <button
                on:click={incrementState}
                style='
                    font-size: {playerWidth * 0.035}px;
                    border-radius: {playerWidth * 0.03}px;
                    padding: {playerWidth * 0.01}px {playerWidth * 0.04}px;
                '
            >
                ПРОЙТИ
            </button>
        {:else if state < 7}
            <QuizCard {state} {incrementState} {current} {playerWidth} />
        {/if}
    </div>
</div>

<style>
    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #000000;
    }
    .background {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../images/quiz/background.jpg);
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    button {
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        background: #3792FD;
        border: none;
        cursor: pointer;
    }
</style>
