<script>
    export let state;
    export let incrementState = () => {};
    export let current;
    export let playerWidth;

    const onRadioChange = (index) => {
        if (current.selected === null) current.selected = +index;
    }
    $: canContinue = typeof current.selected === 'number';
</script>

<div class="background" />
<div class="cardContainer">
    {#if current.options}
        <div class="counter" style="top: {playerWidth * 0.04}px; font-size: {playerWidth * 0.02}px">{state} / 5</div>
    {/if}
    <div class="card" style='max-width: {playerWidth * 0.4}px'>
        <div
            class="block"
            on:click={() => {if (current.description) incrementState()}}
            style="padding: {playerWidth * 0.015}px; border-radius: {playerWidth * 0.01}px"
        >
            <div class="title" style='font-size: {playerWidth * 0.018}px; margin-bottom: {playerWidth * 0.01}px;'>
                {current.title}
            </div>
            <img src="./images/quiz/{current.image}.jpg" alt="{current.image}" />
            {#if current.options}
            <div
                class="options"
                style='
                    font-size: {playerWidth * 0.015}px;
                    border-radius: {playerWidth * 0.01}px;
                    margin-top: {playerWidth * 0.01}px;
                '
            >
                {#each current.options as item, index}
                    <div class="option" on:click={() => onRadioChange(index)} style='padding: {playerWidth * 0.01}px'>
                        <div class="label">
                            <div
                                class="input"
                                style='
                                    width: {playerWidth * 0.015}px;
                                    height: {playerWidth * 0.015}px;
                                    border-radius: {playerWidth * 0.0075}px;
                                    margin-right: {playerWidth * 0.005}px;
                                '
                            >
                                <div
                                    class="dot"
                                    style="
                                        background:{current.button.color};
                                        width: {playerWidth * 0.01}px;
                                        height: {playerWidth * 0.01}px;
                                    "
                                    class:checked={current.selected == index}
                                />
                            </div>
                            {item.text}
                        </div>
                        <div class="percent" style='font-size: {playerWidth * 0.015}px'>{canContinue && item.percent ? item.percent + '%' : ''}</div>
                    </div>
                {/each}
            </div>
            {:else}
            <div class="description"style='font-size: {playerWidth * 0.018}px;'>{current.description}</div>
            {/if}
        </div>
        {#if current.button}
            <button
                style="
                    background: {current.button.color};
                    opacity: {canContinue ? 1 : 0};
                    cursor: {canContinue ? 'pointer' : 'default'};
                    padding: {playerWidth * 0.01}px;
                    font-size: {playerWidth * 0.03}px;
                    border-radius: {playerWidth * 0.01}px;
                    margin-top: {playerWidth * 0.01}px;
                "
                disabled={!canContinue}
                on:click={incrementState}
            >
                {current.button.text}
            </button>
        {/if}
    </div>
</div>

<style>
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
}
.cardContainer {
    position: relative;
    max-height: 100%;
}
.counter {
    position: relative;
    left: -20%;
    color: #B1B1B1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.block{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.options {
    border: 1px solid #DCDCDC;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.percent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #C5C5C5;
}
.option {
    display: flex;
    justify-content: space-between;
}
.options .option:last-child {
    border-top: 1px solid #DCDCDC;
}
button {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    border: none;
}
img {
    max-width: 100%;
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}
.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    white-space: pre-line;
}
.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #DCDCDC;
}
.dot {
    border-radius: 50%;
    display: none;
}
.dot.checked {
    display: block;
}
</style>
