<script>
  import { setSeries } from '../store'
  import { elementScrollIntoView } from 'seamless-scroll-polyfill'

  import items from '../items'
  import ListItem from '../ListItem/index.svelte'
</script>

<div class="wrapper" id="allSeries">
  <div class="container">
    <div class="allSeries">Все серии <span class="seriesCount">{items.length}</span></div>
    <div class="list">
      {#each items as item, i}
        <ListItem {item} onClick={setSeries} {i} />
      {/each}
    </div>
  </div>
</div>

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
    margin-top: 80px;
  }
  .allSeries {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .seriesCount {
    color: #b8b8b8;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -40px 0;
  }
  @media screen and (max-width: 768px) {
    .wrapper{
      margin-top: 64px;
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper{
      display: none;
    }
  }
</style>
