<script>
  import { activeSeries } from '../store'
  export let isPlayerReady;
  let trailerPaused = true
  activeSeries.subscribe(()=>{
    trailerPaused = true;
  })
</script>

<div class="video mainVideoPoster">
  {#if trailerPaused && $activeSeries.image}
    <div class="cover" style={`background-image: url('./images/${$activeSeries.image}');`} />
  {/if}
  {#if $activeSeries.trailer}
    <div class="trailer">
      <video
        src={$activeSeries.trailer}
        muted
        playsinline
        autoplay
        loop
        class="trailerVideo"
        on:play={()=>trailerPaused=false}
      />
    </div>
  {/if}
  {#if isPlayerReady}
  <div class="gradint">
    <div class="watch">
      <div>Смотреть серию</div>
      <div class="duration">{$activeSeries.duration}</div>
    </div>
  </div>
  <div class="seriesNameWrapper">
    {$activeSeries.number}: <span class="seriesName">{$activeSeries.name}</span>
  </div>
  {/if}
</div>

<style>
  .seriesNameWrapper{
    position: absolute;
    bottom: 24px;
    left: 32px;
    font-size: 16px;
    line-height: 19px;
  }
  .seriesName{
    font-weight: 900;
  }
  .video {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .trailerVideo {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .trailer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gradint {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .watch {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50px);
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
    color: #fff;
    left: 50%;
  }
  .duration {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 16px;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .watch {
      transform: translate(-50%, 16px);
    }
    .seriesNameWrapper{
    display: none;
  }
  }
 
</style>
