<script>
    export let isReadyToPublish = false;
</script>

<div class="centralIcons">
    {#if !isReadyToPublish}
        <div class="iconContainer">
            <img src="./images/instagram/icons/text.png" alt="text icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/meta.png" alt="meta icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/grid.png" alt="grid icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/chevrone.png" alt="chevrone icon" />
        </div>
    {/if}
</div>

<style>
.centralIcons {
    padding-left: calc(var(--playerWidth)*0.3/1080 * 53);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.iconContainer {
    width: calc(var(--playerWidth)*0.3/1080 * 90);
    height: calc(var(--playerWidth)*0.3/1080 * 90);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContainer img {
    width: 100%;
    height: 100%;
}
</style>
