<script>
    import {onMount} from 'svelte';
    export let playerWidth;
    export let isReadyToPublish = false;
    export let setIsReadyToPublish = () => {};
    // export let backgroundImage = '';
    export let setBackgroundImage = () => {};
    export let continuePlay = () => {};

    const masks = ['0.png', '1.png', '2.png', '3.png', '4.png', '5.png', '6.png'];

    let firstXcoord, lastXcoord;
    let timerId;
    let xOffset = 0;
    let centerCoord = 0;
    const moveHandler = (e) => {
        if (e.touches) {
            const deltaX = lastXcoord - e.touches[0].clientX;
            lastXcoord = e.touches[0].clientX;
            return deltaX;
        } else if (e instanceof MouseEvent && e.button === 0 && e.buttons === 1) {
            const deltaX = lastXcoord - e.clientX;
            lastXcoord = e.clientX;
            return deltaX;
        } else if (e instanceof WheelEvent) {
            return e.deltaX;
        } else return 0;
    }


    onMount(() => {
        centerCoord = playerWidth * 0.15 - playerWidth*0.3/1080 * 180 / 2;
    });

    const onScroll = (e) => {
        clearTimeout(timerId);
        e.preventDefault();
        const deltaX = moveHandler(e);
        xOffset -= deltaX;
        if (xOffset > 0) xOffset = 0;
        const maxOffset = (masks.length - 1) * -playerWidth*0.3/1080 * 225;
        if (xOffset < maxOffset) xOffset = maxOffset;
        timerId = setTimeout(getActiveMask, 200)
    }

    const getActiveMask = () => {
        const index = -1 * Math.floor((xOffset + playerWidth*0.3/1080 * 225/2) / (playerWidth*0.3/1080 * 225));
        setBackgroundImage(masks[index]);
        xOffset = -playerWidth*0.3/1080 * 225 * index; // #TODO - make transition
    }
    const setMaskActive = (index, e) => {
        if (e.clientX !== firstXcoord) return;
        setBackgroundImage(masks[index]);
        xOffset = -playerWidth*0.3/1080 * 225 * index; // #TODO - make transition
    }
</script>

<div class="footer">
    {#if isReadyToPublish}
        <div class="actions">
            <div />
            <button on:click={continuePlay}>Опубликовать</button>
            <div />
        </div>
    {:else}
        <div
            class="masks"
            style="padding-left: {centerCoord}px; margin-left: {xOffset}px"
            on:touchstart={(e) => lastXcoord = e.changedTouches[0].clientX}
            on:mousedown={(e) => firstXcoord = lastXcoord = e.clientX}
            on:mousewheel={onScroll}
            on:touchmove={onScroll}
            on:mousemove={onScroll}
        >
            <div class="circle" />
            {#each masks as mask, index}
                <div class="mask" on:mouseup={(e) => setMaskActive(index, e)}>
                    <img src="./images/instagram/masks/{mask}" alt="mask" />
                </div>
            {/each}
        </div>
        <div class="actions">
            <div class="iconContainer">
                <img src="./images/instagram//gallery-girl.png" alt="gallery" />
            </div>
            <button on:click={setIsReadyToPublish}>Готово</button>
            <div class="iconContainer">
                <img src="./images/instagram/icons/flip-camera.png" alt="flip" />
            </div>
        </div>
    {/if}
</div>

<style>
.footer {
    overflow: hidden;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--playerWidth)*0.3/1080 * 31) calc(var(--playerWidth)*0.3/1080 * 46);
    margin-top: calc(var(--playerWidth)*0.3/1080 * 21);
}
.circle {
    position: absolute;
    box-sizing: border-box;
    right: calc(var(--playerWidth)*0.3/1080 * 445);
    height: calc(var(--playerWidth)*0.3/1080 * 190);
    width: calc(var(--playerWidth)*0.3/1080 * 190);
    border-radius: calc(var(--playerWidth)*0.3/1080 * 100);
    border: calc(var(--playerWidth)*0.3/1080 * 15) solid white;
    cursor: pointer;
}
.iconContainer {
    width: calc(var(--playerWidth)*0.3/1080 * 90);
    height: calc(var(--playerWidth)*0.3/1080 * 90);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContainer img {
    width: 100%;
    height: 100%;
}
.masks {
    position: relative;
    padding-top: calc(var(--playerWidth)*0.3/1080 * 10);
    padding-bottom: calc(var(--playerWidth)*0.3/1080 * 10);
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.masks::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.mask {
    flex-shrink: 0;
    height: calc(var(--playerWidth)*0.3/1080 * 180);
    width: calc(var(--playerWidth)*0.3/1080 * 180);
    border-radius: calc(var(--playerWidth)*0.3/1080 * 90);
    overflow: hidden;
    margin-right: calc(var(--playerWidth)*0.3/1080 * 45);
    cursor: pointer;
}
.mask img {
    width: 100%;
    height: 100%;
}
button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--playerWidth)*0.3/1080 * 39);
    background: white;
    padding: auto;
    height: calc(var(--playerWidth)*0.3/1080 * 100);
    width: calc(var(--playerWidth)*0.3/1080 * 400);
    border-radius: calc(var(--playerWidth)*0.3/1080 * 50);
    border: none;
    cursor: pointer;
}
</style>
