<script>
    export let isReadyToPublish = false;
</script>

<div class="header">
    {#if isReadyToPublish}
        <div class="iconContainer">
            <img src="./images/instagram/icons/close.png" alt="close icon" />
        </div>
    <div class="iconBlock">
        <div class="iconContainer">
            <img src="./images/instagram/icons/download.png" alt="download icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/music.png" alt="music icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/effects.png" alt="effects icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/sticker.png" alt="sticker icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/curve.png" alt="curve icon" />
        </div>
        <div class="iconContainer">
            <img src="./images/instagram/icons/text.png" alt="text icon" />
        </div>
    </div>
    {:else}
    <div class="iconContainer">
        <img src="./images/instagram/icons/options.png" alt="options icon" />
    </div>
    <div class="iconContainer">
        <img src="./images/instagram/icons/flash-icon.png" alt="flash icon" />
    </div>
    <div class="iconContainer">
        <img src="./images/instagram/icons/close.png" alt="close icon" />
    </div>
    {/if}
</div>

<style>
.header {
    padding: calc(var(--playerWidth)*0.3/1080 * 53);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconBlock {
    display: flex;
    align-items: center;
}
.iconContainer {
    width: calc(var(--playerWidth)*0.3/1080 * 90);
    height: calc(var(--playerWidth)*0.3/1080 * 90);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContainer img {
    width: 100%;
    height: 100%;
}
</style>
