<script>
    import { onMount } from 'svelte';

    import Header from './Header.svelte'
    import Footer from './Footer.svelte'
    import CentralIcons from './CentralIcons.svelte'
    import {playSound, stopSound} from '../../../Audio/index.svelte'
    import sendMetrik from '../../../../metrika'

    // export let item;
    export let myPlayer;
    export let playerWidth;

    let isReadyToPublish = false;
    const setIsReadyToPublish = () => isReadyToPublish = true;

    let backgroundImage = '0.png'
    const setBackgroundImage = (img) => backgroundImage = img;

    onMount(() => {
        sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'InstagramMask'})
        playSound()
        myPlayer.pause();
        myPlayer.controls(false);
        return ()=>{
            myPlayer.controls(true);
            stopSound();
        }
    });

    const continuePlay = () => {
        sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'InstagramMask'})
        stopSound();
        myPlayer.controls(true);
        myPlayer.play();
    }

</script>

<div class="background">
    <div
        class="phoneContainer"
        style="background-image: url(./images/instagram/photos/{backgroundImage})"
    >
        <Header {isReadyToPublish} />
        <CentralIcons {isReadyToPublish} />
        <Footer {isReadyToPublish} {setIsReadyToPublish} {backgroundImage} {setBackgroundImage} {continuePlay} {playerWidth} />
    </div>
</div>

<style>
    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #000000;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phoneContainer {
        width: 100%;
        height: 100%;
        max-width: calc(var(--playerWidth) * 0.3);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
</style>
