<script>
  import Footer from './Footer.svelte'
  import { activeSeries, isMobilePlayerVisible } from '../store'
  import Video from '../Video/index.svelte'
  let containerWidth
  let containerHeight
</script>

<div class="wrapper">
  <div class="container">
    <div class="playerContainer">
      <div
        class="videoWrapper"
        bind:clientWidth={containerWidth}
        bind:clientHeight={containerHeight}
        class:isMobilePlayerVisible={$isMobilePlayerVisible}
      >
        <Video url={$activeSeries.url} {containerWidth} {containerHeight} />
      </div>
    </div>
    <Footer />
  </div>
</div>

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
    margin-top: 24px;
  }
  .playerContainer {
    padding-top: 56%;
    position: relative;
  }
  .videoWrapper {
    user-select: none;
    -webkit-user-select: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(100vh/ 0.6);
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
   
    .isMobilePlayerVisible {
      display: flex;
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
    }
  }
</style>
