<script>
  import { onMount } from 'svelte'
  import sendMetrik from '../../../../metrika'
  export let item
  export let myPlayer
  export let playerWidth

  let isVisible = true
  let timeoutId
  const continuePlay = () => {
        myPlayer.controls(true);
        myPlayer.play();
    }

  onMount(() => {
    sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'ClickZone'})
    myPlayer.pause()
    myPlayer.controls(false);
    document.querySelector('.vjs-control-bar').style.visibility = 'hidden'
    timeoutId = setTimeout(() => {
      document.querySelector('.vjs-control-bar').style.visibility = 'visible'
      continuePlay()
    }, 300000)
  })

  const onClick = (e) => {
    sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'ClickZone'})
    e.preventDefault()
    isVisible = false
    clearTimeout(timeoutId)
    document.querySelector('.vjs-control-bar').style.visibility = 'visible'
    continuePlay()
  }

  $: borderRadius = item.withoutBorder ? 0 : playerWidth * 0.05

  $: style = `width:${item.width}%; left:${item.left}%; top: ${item.top}%; padding-top: ${item.paddingTop}%; border-radius:${borderRadius}px;`
</script>

{#if isVisible}
  <a target="_blank" rel="nofollow" href={item.href} on:click={onClick}>
    <div class="zone shine" {style} class:whiteShadow={item.color === 'white'} />
  </a>
{/if}

<style>
  .zone {
    position: absolute;
    z-index: 99;
    cursor: pointer;
    /* background: rgba(85, 214, 230); */
  }

  .shine {
    position: absolute;

    overflow: hidden;
  }
  .shine:before {
    content: '';
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(38, 135, 244, 0.1) 45%,
      rgba(38, 135, 244, 0.5) 50%,
      rgba(38, 135, 244, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  .whiteShadow::before {
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.2) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 55%,
      transparent 60%,
      transparent 100%
    );
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
