<script>
  import { onMount } from 'svelte'
  import { fly } from 'svelte/transition'
  import {playSound, stopSound} from '../../../Audio/index.svelte'
  export let item
  let isVisible = false
  playSound('alertSound');
  onMount(() => {
    isVisible = true
    
    setTimeout(()=>{
        isVisible = false;
    }, 3000)
    return () => {
      isVisible = false
    }
  })
</script>

{#if isVisible}
  <img src={`./images/notification/${item.image}.png`} alt={item.image} transition:fly|local={{ x: 200 }} />
{/if}

<style>
  img {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
  }
</style>
