<div class="header">
  <div class="left"><div class="logo" /></div>
  <div class="right">
    <div class="text"/>
  </div>
</div>

<style>
  .header {
    display: flex;
    min-height: 14%;
    background-color:#1C1C1C;
  }
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
    box-sizing: border-box;
    padding: 2vmin;
  }
  .logo {
    background-image: url('../images/burger/burgerlogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .text{
    background-image: url('../images/burger/burgeringridients.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
  }
</style>
