<script>
  import Header from './Header.svelte'
  import Main from './Main.svelte'
  import {onMount} from 'svelte'
  import {playSound, stopSound} from '../../../Audio/index.svelte'
  import sendMetrik from '../../../../metrika'

  export let myPlayer
  let visible = true
  onMount(() => {
    sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'Foodporn'})
    playSound('burgerSound')
    myPlayer?.pause()
    myPlayer.controls(false)
    return ()=>{
            myPlayer.controls(true);
            stopSound('burgerSound');
        }
  })
  const continuePlay = () => {
    sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'Foodporn'})
    stopSound('burgerSound');
    visible = false
    myPlayer?.play()
    myPlayer.controls(true)
  }
</script>

{#if visible}
  <div class="container">
    <Header />
    <div class="spacer" />
    <Main {continuePlay}/>
  </div>
{/if}

<style>
  .spacer {
    height: 12px;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #101010;
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
</style>
