<script>
  import { onMount } from 'svelte'
  import { fade } from 'svelte/transition'
  import { nextSeries, activeSeries, currentTime } from '../../../store'
  import sendMetrik from '../../../../metrika'

  let progress = 0
  let timerId
  let isOpen = false
  const goToNextSeries = () => {
    sendMetrik('Sins.ActivityInteraction', {'Sins.ActivityName': 'NextSeries'})
    sendMetrik('Sins.NextEpisode', {'Sins.NextEpisodeName': $activeSeries.alias})
    clearTimeout(timerId)
    nextSeries()
  }
  const cancel = () => {
    isOpen = false
    clearTimeout(timerId)
  }

  const makeProgress = () => {
    progress += 0.25
    if (progress >= 100) {
      return goToNextSeries()
    }
    timerId = setTimeout(makeProgress, 10)
  }

  let metrikTimeout
  onMount(() => {
    sendMetrik('Sins.ActivityShow', {'Sins.ActivityName': 'NextSeries'})
    metrikTimeout = setTimeout(() => {
      sendMetrik(`VIDEO-${$activeSeries.alias}-end`)
    }, 100)
    isOpen = true
    makeProgress()
    return () => {
      clearTimeout(metrikTimeout)
      $currentTime = 0
      clearTimeout(timerId)
    }
  })
</script>

{#if isOpen}
  <div class="next" transition:fade|local>
    <div class="text">Следующая серия начнется автоматически</div>
    <div class="buttons">
      <div class="button nextButton" on:click={goToNextSeries}>
        <div class="progress" style={`width: ${progress}%`} />
        <div class="nextText">Смотреть следующую серию</div>
      </div>
      <div class="button cancel" on:click={cancel}>Отмена</div>
    </div>
  </div>
{/if}

<style>
  .next {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    color: white;
    text-align: center;
    font-size: calc(var(--playerWidth) * 0.03);
  }
  .buttons {
    width: 50%;
  }
  .button {
    box-sizing: border-box;
    color: #ffffff;
    font-size: calc(var(--playerWidth) * 0.02);
    text-align: center;
    margin-top: calc(var(--playerWidth) * 0.03);
    cursor: pointer;
  }
  .cancel {
    border: 1px solid var(--accent);
    padding: calc(var(--playerWidth) * 0.02);
  }
  .nextButton {
    margin-top: calc(var(--playerWidth) * 0.05);
    background-color: var(--accent-hover);
    position: relative;
  }
  .progress {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: var(--accent);
  }
  .nextText {
    position: relative;
    padding: calc(var(--playerWidth) * 0.02);
  }
</style>
