<script>
  import items from '../items'
  import { elementScrollIntoView } from "seamless-scroll-polyfill";
  const gotoAll = ()=>{
    if(window.innerWidth <= 425){
      return;
    }
    elementScrollIntoView(document.querySelector("#allSeries"), { behavior: "smooth", });
  }
  
</script>

<div class="wrapper">
  <div class="container">
    <div class="allSeries"><span class="action" on:click={gotoAll}>Все серии</span> <span class="count">{items.length}</span></div>
  </div>
</div>

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  .allSeries {
    font-size: 16px;
    line-height: 19px;
  }
  .count {
    color: #b8b8b8;
  }
  .action {
    text-decoration: underline;
    cursor: pointer;
    color: var(--accent);
  }
  .action:hover {
    color: var(--accent-hover);
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
    }
    .allSeries{
      font-size: 12px;
line-height: 150%;
    }
    .action{
      color: white;
      text-decoration: none;
      font-size: 12px;
    }
  }
</style>
